<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.yxw.dao.MonsterMapper" >
  <resultMap id="BaseResultMap" type="com.example.yxw.domain.Monster" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="star" property="star" jdbcType="INTEGER" />
    <result column="atk" property="atk" jdbcType="INTEGER" />
    <result column="def" property="def" jdbcType="INTEGER" />
    <result column="race" property="race" jdbcType="VARCHAR" />
    <result column="attribute" property="attribute" jdbcType="VARCHAR" />
    <result column="effect" property="effect" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgUrl" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.example.yxw.domain.Monster" >
    insert into monster (id, name, star, 
      atk, def, race, attribute, 
      effect,imgUrl)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{star,jdbcType=INTEGER}, 
      #{atk,jdbcType=INTEGER}, #{def,jdbcType=INTEGER}, #{race,jdbcType=VARCHAR}, #{attribute,jdbcType=VARCHAR}, 
      #{effect,jdbcType=VARCHAR},#{imgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.yxw.domain.Monster" >
    insert into monster
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="atk != null" >
        atk,
      </if>
      <if test="def != null" >
        def,
      </if>
      <if test="race != null" >
        race,
      </if>
      <if test="attribute != null" >
        attribute,
      </if>
      <if test="effect != null" >
        effect,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="star != null" >
        #{star,jdbcType=INTEGER},
      </if>
      <if test="atk != null" >
        #{atk,jdbcType=INTEGER},
      </if>
      <if test="def != null" >
        #{def,jdbcType=INTEGER},
      </if>
      <if test="race != null" >
        #{race,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="effect != null" >
        #{effect,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>